.titre {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

#plage {
    background-image: url("img/plage.jpg");
    height: 200px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

#balade {
    background-image: url("img/balade.jpg");
    height: 200px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

#ile {
    background-image: url("img/ile.jpg");
    height: 200px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

#patrimoine {
    background-image: url("img/patrimoine.jpg");
    height: 300px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

#gastronomie {
    background-image: url("img/gastronomi.jpg");
    height: 300px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}