{% extends 'base.html.twig' %}


{% block body %}

<div class="titre" >

    <h1>LE MEILLEUR DE LA BRETAGNE</h1>
</div>

<div class="container" >
   <div class="row">
    <div class="col-lg" style="margin : 0px;padding:0px">
      <a href="/tourisme/plage"><div id ="plage">

      </div></a>
    </div>
    <div class="col-lg" style="margin : 0px;padding:0px">
      <div id ="balade">

      </div>
    </div>
    <div class="col-lg" style="margin : 0px;padding:0px">
      <div id ="ile">

      </div>
    </div>
  </div>


  <div class="row">

  <div class="col-lg-6" style="margin : 0px;padding:0px">
      <div id ="patrimoine">

      </div>
    </div>

   <div class="col-lg-6" style="margin : 0px;padding:0px">
      <div id ="gastronomie">

      </div>
    </div>






  </div>

</div>




{% endblock %}
